In [4]:
def subtraction():
    num1 = 20
    num2 = 40
    num3 = num2-num1
    print(num3)

In [3]:
def multiplication():
    num1 = 20
    num2 = 40
    num3 = num1*num2
    print(num3)


multiplication()

800

In [6]:
def takename():
  print("what is your name?")
  name = input()
  return name
name1 = takename()
print(name1)

what is your name?
manav

In [26]:
def someFunction():
    var1 = input("type in first number")
    var2 = input("type in second number")
    result = var1 + var2
    return(result)

print(someFunction())

21

In [9]:
def someFunction(a, b):
    result = a + b
    num = 2008
    return result, num

var1 = input("input a name")
var2 = input("input another name")
transfer = someFunction(var1, var2)  
print(transfer)

('manavcodaty', 2008)

In [14]:
def num_machine(a, b):
    result = int(a) + int(b)
    result2 = result * int(b)
    result3 = result2 ** 3
    
    return result3

var1 = input("input a name")
var2 = input("input another name")
transfer = num_machine(var1, var2)  
print(transfer)

216

In [15]:
def someFunction(): 
    def some_function():
        print("hello world")
    some_function()

someFunction()

hello world

In [12]:
def multiply(num1, num2, num3=3, num4=4):
    return num1 * num2 * num3 * num4

print(multiply(1,3)) 
print(multiply(1,3,4))
print(multiply(1,2,3,4))

36
48
24

In [43]:
def names(first_name, second_name, last_name):
    return first_name + second_name + last_name


var1 = input("input first name")
var2 = input("input second name")
var3 = input("input last name")

transfer = names(last_name=var2, second_name=var1, first_name=var3)
print(transfer)

codatymanavprasad

Homework start

In [4]:
def is_even(var1):
    if num % 2  == 0:
        print("Your number is even")
    else:
        print("Your number is odd")


num = int(input("input an integer:"))
transfer  = is_even(num)

Your number is even

In [13]:
def is_positive(var1):

    if num > 0:
        print("Your number is positive")
    else:
        print("Your number is negative")


num = int(input("input an number:"))
transfer  = is_positive(num)

Your number is negative

In [18]:
def max_of_three(x, y, z):
    if x > y:
        if x > z:
            return x
        else:
            return z
    else:
        if y > z:
            return y
        else:
            return z
        

print(max_of_three(1,2,3))

3

In [3]:
def grade_converter(var1):
    if grade >= 90:
        print("You got an A")
    elif grade < 90 and grade >= 80:
        print("You got a B")
    elif grade < 80 and grade >=70:
        print("You got a C")
    elif grade < 70 and grade >=60:
        print("You got a D")
    else:
        print("You got an F")

    

grade = int(input("Please input your grade:"))
transfer = grade_converter(grade)

You got an A

In [4]:
def is_triangle(var1, var2, var3):
    if a + b > c or a + c > b or c + b > a:
        print("These number make up a triangle")
    else:
        print("These numbers do not make up a triangle")



a = int(input("Please input first number:"))
b = int(input("Please input second number:"))
c = int(input("Please input third number:"))


transfer = is_triangle(a,b,c)

These number make up a triangle

In [8]:
def is_leap_year(var1):
    if year % 4 == 0 or year % 400 == 0:
        print("Your year is a leap year")
    else:
        print("Your year is not a leap year")


year = int(input("Please input year:"))
transfer = is_leap_year(year)

Your year is not a leap year

In [16]:
def is_palindrome(var1):
    if len(word) >= 5:
        if word[0] == word[4] and word[1] == word[3]:
            print("Your word is a palindrome")
        else:
            print("Your word is not a palindrome")
    else:
        print("Your word is not a palindrome")


word = input("Please enter your word")

trasnfer = is_palindrome(word)

Your word is a palindrome

Homework end

In [2]:
a = input("Please input a character")
ord(a)
print(bin(ord(a)))
print(hex(ord(a)))
print(oct(ord(a)))

0b1101101
0x6d
0o155

In [8]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)


num = int(input("Please input a number"))
print(factorial(num))

6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [1]:
print(sum(range(0,101,1)))

5050

In [ ]:
sum_ = 0
for i in range(0,101,1):
    sum_ += i

print(sum_)

In [1]:
multiply = 1
for i in range(0,41,2):
    i *= multiply

print(multiply)

1

         *
        **
       ***
      ****  
     *****
    ******

In [6]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for star in range(0,row):
		print("*",end="")
	print()

*
**
***
****
*****
******

In [4]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for space in range(0,n-row,1):
		print(" ", end="")
	for star in range(0,row):
		print("*",end="")
	print()

     *
    **
   ***
  ****
 *****
******

In [5]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for space in range(0,n-row,1):
		print("*", end="")
	for star in range(0,row):
		print(" ",end="")
	print()

*****
****
***
**
*

In [2]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for space in range(0,n-row,1):
		print("*", end="")
	for star in range(0,row):
		print(" ",end="")
	print()

*****
****
***
**
*

In [1]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for star in range(0,row):
		print("-",end="")
	print()

-
--
---
----
-----
------

In [17]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for space in range(0,n-row,1):
		print(" ", end="  ")
	for star in range(0,row):
		print("*",end="  ")
	print()

               *
            *  *
         *  *  *
      *  *  *  *
   *  *  *  *  *
*  *  *  *  *  *

In [ ]:
def print_stars(n): # n=6
   for row in range(1, n+1, 1):  # 1 to 7 -> 1, [2], 3, 4, 5, 6
      # row -> 2
      for space in range(0,n-row,1): # 4 spaces
         print(" ", end="  ")
      for star in range(0,(row+(row-1))):  # row = 2, row - 1 -> 1, so row + (row - 1) -> 3, range(0, 3)
         print("*",end="  ") # only 3 star
      print()
1

def main():
   n = int(input("Enter number of rows"))
   print_stars(n)


main()

In [15]:
main_string = input("Please input first string")
sub_string = input("Please input second string")

main_string2 = main_string.lower()
sub_string2 = sub_string.lower()

counter = 0

for i in main_string2:
    if i == sub_string2:
        counter = counter + 1
print(counter)

2

In [1]:
main_string = input("Please input first string")
sub_string = input("Please input second string")

main_string2 = main_string.lower()
sub_string2 = sub_string.lower()

s = ""
for i in main_string2:
    if i != sub_string2:
        s += i
print(s)

mnv

In [5]:
for i in range(2, 22, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

num = int(input("Enter a number: "))
print("The factorial of", num, "is", factorial(num))

The factorial of 5 is 120

In [1]:
#2 variables 
#last is 0
#second last 1 
# for loop for 
#print last second last+last
#temp = last
#last = second last + last

def generate_fibonacci_sequence(n):
    fibonacci_sequence = [0, 1]

    for _ in range(2, n):
        fibonacci_sequence.append(fibonacci_sequence[-1] + fibonacci_sequence[-2])

    return fibonacci_sequence

N = int(input("Enter the number of Fibonacci numbers to generate: "))

fib_sequence = generate_fibonacci_sequence(N)
print(fib_sequence)

[0, 1, 1, 2, 3]

In [7]:
def is_prime(num):
    if num % 2 == 0:
        return num == 2
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

start_range = int(input("Enter the start of the range: "))
end_range = int(input("Enter the end of the range: "))

print("Prime numbers in the range {} to {}:".format(start_range, end_range))
for num in range(max(2, start_range), end_range + 1):
    if is_prime(num):
        print(num)

Prime numbers in the range 5 to 25:
5
7
11
13
17
19
23

In [9]:
def is_prime(num):
    if num % 2 == 0:
        return num == 2
    for i in range(int(num**0.5), 2, -2):
        if num % i == 0:
            return False
    return True

start_range = int(input("Enter the start of the range: "))
end_range = int(input("Enter the end of the range: "))

print("Prime numbers in the range {} to {}:".format(start_range, end_range))
for num in range(max(2, start_range), end_range + 1):
    if is_prime(num):
        print(num)

Prime numbers in the range 5 to 25:
5
7
11
13
17
19
21
23

In [1]:
def multiplication_table(number, table_range):
    print(f"Multiplication table for {number} up to {number} * {table_range}:")
    for i in range(1, table_range + 1):
        result = number * i
        print(f"{number} * {i} = {result}")

num = int(input("Enter the number for the multiplication table: "))
range_limit = int(input("Enter the range (up to which multiple): "))

multiplication_table(num, range_limit)

Multiplication table for 5 up to 5 * 50:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100
5 * 21 = 105
5 * 22 = 110
5 * 23 = 115
5 * 24 = 120
5 * 25 = 125
5 * 26 = 130
5 * 27 = 135
5 * 28 = 140
5 * 29 = 145
5 * 30 = 150
5 * 31 = 155
5 * 32 = 160
5 * 33 = 165
5 * 34 = 170
5 * 35 = 175
5 * 36 = 180
5 * 37 = 185
5 * 38 = 190
5 * 39 = 195
5 * 40 = 200
5 * 41 = 205
5 * 42 = 210
5 * 43 = 215
5 * 44 = 220
5 * 45 = 225
5 * 46 = 230
5 * 47 = 235
5 * 48 = 240
5 * 49 = 245
5 * 50 = 250

In [2]:
def reverse_string(input_string):
    reversed_str = ""
    for char in input_string:
        reversed_str = char + reversed_str
    return reversed_str

input_str = input("Enter a string: ")
reversed_result = reverse_string(input_str)
print("Reversed string:", reversed_result)

Reversed string: olleh

In [37]:
a = "gyhtgyoateqsuopnbg"
a[7:len(a)-2:1]

'ateqsuopn'

In [40]:
a = "gyatgyoateqsuopnbg"
a[len(a)-2:7:-1]

'bnpousqet'

In [42]:
a = "manav"
a[0:len(a):2]

'mnv'

In [20]:
lst = [
    [1, 2, 3, 4, 5],
    [2, 3, 4, 5, 6], 
    [3, 4, 5, 6, 7], 
    [4, 5, 6, 7, 8],
    [5, 6, 7, 8, 9],
]





result = 1

def main(lst):
    multiply = 1
    for i in lst:
        multiply = multiply * i
    return multiply

for i in lst:
    result *= main(i)
    
print(result)

489407583931698134384640000000000

In [12]:
lst = [1, 2, 3, 4, 5]
def main(lst):
    multiply = 1
    for i in lst:
        multiply = multiply * i
    return multiply

main(lst)

120

In [8]:
def multiply_diagonal_elements_1(array):
    product = 1
    product2 = 1
    n = len(array)-1
    for i in range(len(array)):
        product *= array[i][i]
        product2 *= array[i][(-1)*(i+1)]
        #product *= array[i][n-1]
        #n = 5-1

    return product + product2
    



array = [
    [1, 2, 3, 4, 5],
    [2, 3, 4, 5, 6], 
    [3, 4, 5, 6, 7], 
    [4, 5, 6, 7, 8],
    [5, 6, 7, 8, 9],
]

diagonal_product = multiply_diagonal_elements_1(array) 
print("Product of diagonal elements:", diagonal_product)

Product of diagonal elements: 4070

In [35]:
def replace_negatives_with_positive(lst):
    for i in range(len(lst)):
        if lst[i] < 0:
            lst[i] = lst[i] * -1 

# Example array
lst = [-5,-3,2,10,-1,11,7,9]

print("Original array:", lst)
replace_negatives_with_positive(lst)
print("Array after replacing negatives with positive:", lst)

Original array: [-5, -3, 2, 10, -1, 11, 7, 9]
Array after replacing negatives with positive: [5, 3, 2, 10, 1, 11, 7, 9]

In [3]:
lst = ["manav","Anurag","Maya","Adi","Codaty","Pandey"]
for i in lst:
    print(i, lst)
    lst.remove(i) # i is value of lst
    # code displays value and prints snapshot of lst 
    # it thens removes the values that it first printed
    # Why does it keep skipping values?
    # only printing manav, maya, and codaty and not printing anurag?
    #
    #
    #
    #
    #

print(lst)

manav ['manav', 'Anurag', 'Maya', 'Adi', 'Codaty', 'Pandey']
Maya ['Anurag', 'Maya', 'Adi', 'Codaty', 'Pandey']
Codaty ['Anurag', 'Adi', 'Codaty', 'Pandey']
['Anurag', 'Adi', 'Pandey']